@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: 'Lato';
    text-rendering: optimizeLegibility;
}

h1 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

h3 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
}

h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

p {
    margin-bottom: 0.25rem;
    font-weight: normal;
    font-size: 1rem;
}

.column {
    padding: 1rem;
}

.navbar {
    max-width: 1280px;
    margin:0 auto 0 auto;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-start, .navbar-end {
    display: inline-block;
}

.navbar-item {
    padding: 0.5rem 1rem;
}

footer {
    margin: 2rem;
    text-align: center;
    padding-bottom: 1rem; 
}

.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icon a {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    display: inline-block;
    opacity: 0.7;
}

.footer-icon a:hover{
    opacity:1;
}


.hero {
    /* min-height: 60%;
    min-width: 100%; */
    /* background-image: url('../images/home-hero.jpg'); */
    /* background-size: cover;
    background-position: center; */
    /* fill: bisque; */
    background-color:white;
}

.hero-body {
    width: 960px;
    margin: 0 auto;
    text-align: start;
}

.about {
    margin: 4rem auto 2rem auto;
    max-width: 960px;
}

.posts {
    flex-direction: column;
    display: flex;
    margin: 2rem auto;
    max-width: 960px;
}

.reversed-columns {
    flex-direction: row-reverse;
}

.post-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-divider {
    width: 50%;
    margin: 1.5rem auto;
}

.post-card{
    margin-right: 0;
    margin-left: 0;
    color:black;
    width:100%;
    margin-top:0;
}

.post-thumbnail img:hover{
    opacity: 0.5;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
}

.post-thumbnail img{
    width: 100%;
    aspect-ratio: 1/1;
    margin:0 auto;
    object-fit: contain;
    border-radius: 0.5rem;
}

.post-description {
    margin-left: 2rem;
    text-decoration: none;
    margin:auto 0;
    padding: 0.75rem 1.25rem;
}

a{
    text-decoration: none;
}

.nav-item{
    display: inline-block;
    margin-right: 0.25rem;
    padding: 0.5rem 1rem;
}

.container {
    max-width: 960px;
}

.container.is-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.about {
    padding-left: 1rem;
    padding-right: 1rem;
}

.about p {
    margin: 1rem auto;
}

.about a {
    font-weight: 600;
}

.about a:hover {
    text-decoration: underline dotted 4px;
}

